* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}
body > #root > section {
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout {
  background-color: #fff !important;
  height: 100%;
}
.ant-layout-header {
  background: #fff !important;
  height: 72px !important;
}
.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.siderHeader {
  /* border-bottom: 2px solid #e7e7e7; */
  border-right: 2px solid #e7e7e7;
}
.contentHeader {
  padding:0 10px !important;
  border-bottom: 2px solid #e7e7e7;
  font-size: 1rem;
  font-weight: bold;
}
.site-layout-background {
  background: #fff;
}
.right-content {
  overflow-y: auto;
}
.createBtn {
  height: 30px !important;
  position:absolute !important;
  top:25% !important;
  right:0px !important;
  border:0px !important;
  font-size:16px !important; 
  font-weight:600 !important;
}
.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: #fcad3d !important;
  color: #000;
  font-weight: bold;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #dbffd9 !important;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #dbffd9 !important;
}